{% extends 'orders/base.html' %} {% block content %}
{% load static %}


<div class="modal-header container text-center my-4 align-items-center">
  <div class="box d-flex justify-content-between align-items-center">
    <img style="max-width: 100px; max-height: 100px; margin-right: 10px;" src="{% static "orders/pizza_logo.jpg" %}"
      alt="">
  </div>
  <p style="font-weight: 700; font-size: 28px;" class="tel">+7 999 999-99-99</p>
  <div class="box d-flex justify-content-between align-items-center flex-column">
    <h2>Hello, {{ user.first_name }}</h2>
    <a href="{% url 'logout' %}">Logout</a>
  </div>
</div>

{% for food_type, items in menu.items %}

<div class="container-flex" style="background-image: url(static/orders/back.png); background-size: cover;">
  <div class="row justify-content-center" style="max-width: 1200px; margin: 0 auto;">
    <div class="d-flex flex-column col-sm-7"
      style="justify-content: flex-start; align-items: flex-start; text-align: start;">
      {% if forloop.first %}
      <h1 class="h1 text-center">On todays menu... {{ food_type }}</h1>
      {% else %}
      <h1>{{ food_type }}</h1>
      {% endif %}

      <div style="display: flex; width: 100%;" class="flex-column" id="accordion">
        {% for item in items %}
        <div class="card" style="width: 100%; margin: 5px;">
          <div class="card-header" id="{{ food_type }}{{ item }}">
            <h5 class="h4 mb-0">
              <img style="max-width: 100px; max-height: 100px;" src="{% static "orders/pizza_logo.jpg" %}" alt="">
              <button style="font-size: 20pt; padding: 0; color: black;" class="btn btn-link display-4"
                data-toggle="collapse" data-target="#collapse{{ food_type }}{{ item }}" aria-expanded="false"
                aria-controls="collapse{{ food_type }}{{ item }}">
                {{ item }}
              </button>
            </h5>
          </div>

          <div id="collapse{{ food_type }}{{ item }}" class="collapse" aria-labelledby="{{ item }}"
            data-parent="#accordion">
            <div class="card-body justify-content-between">
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="food_type" value="{{ food_type }}">
                <input type="hidden" name="food_item" value="{{ item }}">
                <input type="hidden" name="del" value="false">
                <div style="padding-left: 40px;" class="align-items-center justify-content-between">
                  <div class="col-auto my-1">
                    {% if '1 Topping' in item %}
                    <select style="width: 100px; font-size: 20px;" class="mr-sm-2" id="inlineFormCustomSelect"
                      name="size">
                      <option disabled selected value>Size...</option>
                      <option value="Small">Small</option>
                      <option value="Large">Large</option>
                    </select>
                    <select class="mr-sm-2" style="font-size: 20px;" id="inlineFormCustomSelect" name="topping">
                      {% comment %} <option disabled selected value> -- select a topping -- </option>{% endcomment %}
                      <option disabled selected value> -- select a topping -- </option>
                      {% for topping in pizza_toppings %}
                      <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    {% elif '2 Topping' in item %}
                    <select style="width: 100px; font-size: 20px;" class="mr-sm-2" id="inlineFormCustomSelect"
                      name="size">
                      <option selected>Size...</option>
                      <option value="Small">Small</option>
                      <option value="Large">Large</option>
                    </select>
                    <select class="mr-sm-2" style="font-size: 20px;" id="inlineFormCustomSelect" name="topping">
                      <option disabled selected value> -- select a topping -- </option>
                      {% for topping in pizza_toppings %}
                      <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    <select class="mr-sm-2" style="font-size: 20px;" id="inlineFormCustomSelect" name="topping">
                      <option disabled selected value> -- select a topping -- </option>
                      {% for topping in pizza_toppings %}
                      <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    {% elif '3 Topping' in item %}
                    <select style="width: 45%; font-size: 20px; margin-bottom: 10px;" class="mr-sm-2"
                      id="inlineFormCustomSelect" name="size">
                      <option selected>Size...</option>
                      <option value="Small">Small</option>
                      <option value="Large">Large</option>
                    </select>
                    <select class="mr-sm-2" style="font-size: 20px; width: 56%; margin-bottom: 10px;"
                      id="inlineFormCustomSelect" name="topping">
                      <option disabled selected value> -- select a topping -- </option>
                      {% for topping in pizza_toppings %}
                      <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    <select class="mr-sm-2" style="font-size: 20px; width: 56%; margin-bottom: 10px;"
                      id="inlineFormCustomSelect" name="topping">
                      <option disabled selected value> -- select a topping -- </option>
                      {% for topping in pizza_toppings %}
                      <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    <select class="mr-sm-2" style="font-size: 20px; width: 56%; margin-bottom: 10px;"
                      id="inlineFormCustomSelect" name="topping">
                      <option disabled selected value> -- select a topping -- </option>
                      {% for topping in pizza_toppings %}
                      <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    {% elif 'Subs' in food_type %}
                    <select style="width: 100px; font-size: 20px;" class="mr-sm-2" id="inlineFormCustomSelect"
                      name="size">
                      <option selected>Size...</option>
                      <option value="Small">Small</option>
                      <option value="Large">Large</option>
                    </select>
                    <select class="mr-sm-2" style="font-size: 20px;" id="inlineFormCustomSelect" name="topping">
                      <option disabled selected value> -- select a topping -- </option>
                      {% for topping in sub_toppings %}
                      <option value="{{ topping }}">{{ topping }}</option>
                      {% endfor %}
                    </select>
                    {% else %}
                    <select style="width: 100px; font-size: 20px;" class="mr-sm-2" id="inlineFormCustomSelect"
                      name="size">
                      <option selected>Size...</option>
                      <option value="Small">Small</option>
                      <option value="Large">Large</option>
                    </select>
                    {% endif %}
                  </div>
                  <div class="col-auto my-1">
                    <button style="background-color:darkred; margin-top: 10px;" type="submit"
                      class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-4" style="margin-top: 55px;">
      {% if forloop.first %}
      <div class="card mb-3">
        <div style="align-items: flex-end;" class="card-header d-flex justify-content-between">
          <h5 style="margin-bottom: 8px;">{{ user.first_name }}'s Basket:</h5>
          <img style="max-width: 50px;" src="{% static "orders/bascket.png" %}" class="card-img" alt="...">
        </div>
        <div class="row no-gutters">
          <div class="col">
            <div class="card-body">
              <p class="card-text">
                <ul class="list-group">
                  <li style="background-color: darkred; color: white;" class="list-group-item">Basket:</li>
                  {% for id, item in basket  %}
                  <li style="display: flex; justify-content: center; align-items: center;" class="list-group-item">
                    {{item}}
                    <form method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="food_type" value="{{ food_type }}">
                      <input type="hidden" name="id" value="{{ id }}">
                      <input type="hidden" name="del" value="true">
                      <button type="submit" style="padding-top: 12px; margin: 0 10px;" class="delete btn"><i
                          class="material-icons">&#xE872;</i></button>
                    </form>
                    <img style="max-width: 40px; max-height: 40px;" src="{% static "orders/pizza_logo.jpg" %}" alt="">
                  </li>
                  {% endfor %}
                </ul>
              </p>
              <!-- Button trigger modal -->
              <button type="button"
                style="background-color: darkred; color: white; border: 4px solid rgb(42, 42, 49); border-radius: 20px;"
                class="btn" data-toggle="modal" data-target="#exampleModal">
                Checkout
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Submit order...</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to checkout items with a total value of: ${{basket_total}}?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <form method="post" action="{% url 'order_status' %}">
                        {% csrf_token %}
                        <button type="submit" name="user_form" class="btn btn-primary">Submit order</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Your active orders</h5>
        </div>
        <div class="row no-gutters">
          <div class="col">
            <div class="card-body">
              <p class="card-text">
                <ul class="list-group">
                  {% for id, user, item in checkout.Pizzas  %}
                  {% if not item.status == 'Draft' or item.status == 'Complete' %}
                  <li style="" class="list-group-item">
                    {{item}}
                    <br>
                    Order date: {{ item.date|date:"d/m/Y G:i" }}
                    <br>
                    <div class="badge 
                    {% if item.status == 'Ordered' %}badge-primary{% endif %}
                    {% if item.status == 'Processing' %}badge-warning{% endif %}
                    {% if item.status == 'Sent' %}badge-success{% endif %}
                    ">
                      {{item.status}}
                    </div>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>

      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}